.search-result__item {
  margin: 0.5rem;
  padding: 0.5rem;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-result__book-cover {
  height: 100px;
  width: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.search-result__book-info {
  flex-grow: 1;
  text-align: left;
}

.search-result__book-title,
.search-result__book-author,
.search-result__book-subject,
.search-result__book-open-library-key,
.search-result__book-open-library-cover-key {
  margin: 0.5rem 0;
}

.search-result__add-button {
  display: flex;
  align-items: center;
  // align-self: flex-end
  cursor: pointer;
  color: dimgray;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-result__add-button:hover {
  color:#444444;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
}
.search-result__add-icon {
  font-size: 1.5rem;
}