.booklist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .25rem;
  padding: 0rem;
}

@media (max-width: 1040px) {
  .booklist {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .booklist {
    grid-template-columns: 1fr;
  }
}