.booklist-item__item {
  margin: 0.5rem;
  padding: 0.5rem;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.booklist-item__item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.booklist-item__book-cover {
  height: 100px;
  width: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.booklist-item__book-info {
  flex-grow: 1;
  text-align: left;
}

.booklist-item__book-title,
.booklist-item__book-author,
.booklist-item__book-subject {
  margin: 0.5rem 0;
}

@media (max-width: 480px) {
  .booklist-item__item:hover {
    transform: none;
    box-shadow: none;
  }
}