.book__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.book__author {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.book__cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  border: 1px solid black;
}

.book__info-list {
  margin: .5rem;
  padding: .5rem;
  list-style: none;
}

.book__info-list.single-item {
  justify-content: center; 
  align-items: center;
  padding: 0;
}

.book__info-list.multi-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25rem;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media (max-width: 1040px) {
  .book__cover {
    height: 500px;
  }
}

@media (max-width: 780px) {
  .book__cover {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .book__cover {
    height: 300px;
  }

  .book__info-list.multi-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: .25rem;
    padding: 0;
  }
}