.wishlist__item {
  margin: 12px;
  padding: 16px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  background-color: lightgray;
  color: #282c34;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.wishlist__book-cover {
  width: 100px;
  height: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.wishlist__book-info {
  width: 100%;
  text-align: left;
}

.wishlist__book-title {
  margin: 0;
}

.wishlist__book-author {
  margin: 0.5rem 0;
}

.wishlist__book-subject {
  margin: 0.5rem 0;
}
