.login__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.login__userid {
  flex-grow: 1;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.login__userid-label {
  padding: 0.5rem;
  font-size: 1rem;
}

.login__submit-button {
  padding: 0.5rem;
  border: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.login__submit-button:hover {
  background-color: lightgray;
}
