.wishlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .25rem;
  padding: 0rem;
}

.wishlist__fab {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 4.5rem;
  right: 1.5rem;
  background-color: dimgray;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wishlist__fab:hover {
  background-color: #444444;
}

.wishlist__add-icon {
  font-size: 1.5rem;
}

@media (max-width: 1040px) {
  .wishlist {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .wishlist {
    grid-template-columns: 1fr;
  }
}
