.wishlist__item {
  margin: 0.5rem;
  padding: 0.5rem;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
}

.wishlist__book-cover {
  height: 150px;
  width: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.wishlist__book-info {
  width: 100%;
  text-align: left;
}

.wishlist__book-title {
  margin: 0;
}

.wishlist__book-author {
  margin: 0.5rem 0;
}

.wishlist__book-subject {
  margin: 0.5rem 0;
}
