.wishlist__item {
  margin: 0.5rem;
  padding: 0.5rem;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.wishlist__item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.wishlist__book-cover {
  height: 100px;
  width: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.wishlist__book-info {
  flex-grow: 1;
  text-align: left;
}

.wishlist__book-title,
.wishlist__book-author,
.wishlist__book-subject {
  margin: 0.5rem 0;
}

.wishlist__heart-button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
  color: firebrick;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.wishlist__heart-button:hover {
  color: darkred;
}
.wishlist__heart-icon {
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .wishlist__item:hover {
    transform: none;
    box-shadow: none;
  }  
}