.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.main-content {
  overflow-y: auto;
  padding-top: 4rem; 
  padding-bottom: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

