.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.main-content {
  padding: 0.5rem;
  overflow-y: auto;
  padding-top: 60px; 
  padding-bottom: 60px;
}

// .App-link {
//   color: #61dafb;
// }

/* Set scrollbar width for WebKit browsers */
.main-content::-webkit-scrollbar {
  width: 20px; /* Adjust the width as needed */
}
