.book-box__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.book-box__input-group {
  border: 1px solid white;
}

.book-box__button-group {
  border: 1px solid white;
}

.book-box__input {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: pink;
}

.book-box__label {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: orange;
}

.book-box__cancel-button {
  padding: 0.5rem;
  border: none;
  background-color: red;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.book-box__submit-button {
  padding: 0.5rem;
  border: none;
  background-color: green;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.book-box__cancel-button:hover {
  background-color: lightgray;
}

.book-box__submit-button:hover {
  background-color: lightgray;
}