.book-box {
  margin: 2rem;
  padding: 2rem;
  background-color: dimgray;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-box__header {
  margin-bottom: 1.5rem;
}

.book-box__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}

.book-box__book-cover {
  height: 100px;
  width: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.book-box__address {
  font-size: 1.1rem;
  color: black;
}

.book-box__collections {
  list-style: none;
  padding: 0;
}

.book-box__collection-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-box__collection-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-box__quantity {
  font-weight: bold;
  color: black;
  text-align: right;
  flex-shrink: 0;
}

.book-box__book-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book-box__book-title,
.book-box__book-author,
.book-box__book-subject {
  margin: 0.25rem 0;
}

.book-box__book-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.book-box__book-author,
.book-box__book-subject {
  font-size: 1rem;
}