.book-boxes__list {
  margin: .5rem 0;
  padding: .5rem;
}

.book-boxes__items {
  gap: .25rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-boxes__item {
  margin: .5rem 0;
  padding: .5rem;
  border-radius: 8px;
  background-color: lightgray;
  color: black;
  display: block;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
 
}

.book-boxes__book-icon {
  font-size: 1.5rem;
}

.book-boxes__link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;

}

.book-boxes__item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.book-boxes__content {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: .25rem;
  gap: .25rem;
}

.book-boxes__name {
  font-weight: bold; 
  font-size: 1.2rem;
}

.book-boxes__fab {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 4.5rem;
  right: 1.5rem;
  background-color: dimgray;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.book-boxes__fab:hover {
  background-color: #444444;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
}

.book-boxes__add-icon {
  font-size: 1.5rem;
}

@media (max-width: 780px) {
  .book-boxes__item {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start; 
    margin: .5rem 0;
    padding: 0.25rem;
  }

  .book-boxes__content {
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly; 
    gap: .2px;
    margin: .2px;
    margin-left:1rem;
    text-align: left;
    padding: 0rem;
  }

  .book-boxes__name {
    font-size: 1rem;
  }

  .book-boxes__address,
  .book-boxes__books {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .book-boxes__items {
    grid-template-columns: 1fr;
  }

  .book-boxes__item:hover {
    transform: none;  
    box-shadow: none; 
  }
}
